Repository spacelab-ufsc/ttc2, pull requests merged in 2022-04, with the labels that each got.

#62 feature_unit_tests: Importing unit tests of the drivers from the OBDH 2.0 repo
  firmware/config/config.h
  firmware/tests/drivers/.gitignore
  firmware/tests/drivers/Makefile
  firmware/tests/drivers/README.md
  firmware/tests/drivers/isis_antenna_test.c
  firmware/tests/drivers/run_all_tests.sh
  firmware/tests/drivers/si446x_test.c
  firmware/tests/drivers/tca4311a_test.c
Labels: firmware, drivers, v&v, tests

#63 Merge pull request #61 from feature_uart_rx
  firmware/drivers/uart/uart.c
  firmware/drivers/uart/uart.h
Labels: enhancement, msp430, firmware, drivers, uart

#66 firmware: Adding a containers library
  .github/workflows/static-analysis.yml
  .github/workflows/unit-tests-libs.yml
  firmware/libs/README.md
  firmware/libs/containers/README.md
  firmware/libs/containers/buffer.c
  firmware/libs/containers/buffer.h
  firmware/libs/containers/queue.c
  firmware/libs/containers/queue.h
  firmware/tests/libs/.gitignore
  firmware/tests/libs/Makefile
  firmware/tests/libs/README.md
  firmware/tests/libs/buffer_test.c
  firmware/tests/libs/queue_test.c
  firmware/version.h
Labels: firmware, v&v, tests, libs

#69 Merge pull request #67 from spacelab-ufsc/watchdog_test
  firmware/devices/watchdog/watchdog.c
  firmware/drivers/tps382x/README.md
  firmware/drivers/tps382x/tps382x.c
  firmware/drivers/tps382x/tps382x.h
  firmware/tests/devices/Makefile
  firmware/tests/devices/watchdog_test.c
  firmware/tests/mockups/drivers/tps382x_wrap.c
  firmware/tests/mockups/drivers/tps382x_wrap.h
  firmware/version.h
Labels: msp430, firmware, watchdog, drivers, devices, tests

#68 Merge pull request #61 from spacelab-ufsc/feature_uart_rx
  firmware/drivers/uart/uart.c
  firmware/drivers/uart/uart.h
  firmware/libs/containers/queue.c
  firmware/libs/containers/queue.h
  firmware/tests/mockups/drivers/uart_wrap.c
  firmware/tests/mockups/drivers/uart_wrap.h
Labels: msp430, firmware, drivers, uart, queue

#75 Merge pull request #70 from spacelab-ufsc/antenna_test
  firmware/config/config.h
  firmware/tests/devices/Makefile
Labels: msp430, firmware, devices, antenna
