Repository spacelab-ufsc/ttc2, pull requests merged in 2023-03, with the labels that each got.

#123 Merge pull request from eps_task_feature
  firmware/app/tasks/eps_server.c
  firmware/app/tasks/eps_server.h
  firmware/app/tasks/startup.c
  firmware/app/tasks/tasks.c
  firmware/config/config.h
  firmware/devices/eps/eps.c
  firmware/devices/eps/eps.h
  firmware/tests/devices/eps_unit_test
  firmware/tests/devices/obdh_unit_test
Labels: firmware, devices, tasks

#127 Dev firmware: Release v0.4
  .github/workflows/static-analysis.yml
  firmware/CHANGELOG
  firmware/app/tasks/eps_server.c
  firmware/app/tasks/eps_server.h
  firmware/app/tasks/startup.c
  firmware/app/tasks/tasks.c
  firmware/config/config.h
  firmware/devices/eps/eps.c
  firmware/devices/eps/eps.h
  firmware/devices/obdh/obdh.c
  firmware/devices/obdh/obdh.h
  firmware/drivers/ina22x/ina22x.c
  firmware/drivers/isr/isr.c
  firmware/drivers/isr/isr.h
  firmware/drivers/spi_slave/spi_slave.c
  firmware/drivers/spi_slave/spi_slave.h
  firmware/drivers/sx127x/sx127x.c
  firmware/drivers/sx127x/sx127x.h
  firmware/drivers/uart/uart.c
  firmware/libs/containers/queue.c
  firmware/system/cmdpr.c
  firmware/system/cmdpr.h
  firmware/tests/devices/Makefile
  firmware/tests/devices/eps_test.c
  firmware/tests/devices/obdh_test.c
  firmware/tests/devices/run_all_tests.sh
  firmware/tests/drivers/Makefile
  firmware/tests/mockups/drivers/spi_slave_wrap.c
  firmware/tests/mockups/drivers/spi_slave_wrap.h
  firmware/version.h
Labels: firmware

#129 Dev: Release v0.4
  .github/workflows/static-analysis.yml
  doc/user_manual/Makefile
  doc/user_manual/chapters/firmware.tex
  doc/user_manual/figures/product-tree-fw.drawio
  doc/user_manual/figures/product-tree-fw.pdf
  doc/user_manual/header/authorpage.tex
  doc/user_manual/header/titlepage.tex
  doc/user_manual/slb-ttc2-doc-v0.3.pdf
  doc/user_manual/slb-ttc2-doc-v0.4.pdf
  firmware/CHANGELOG
  firmware/app/tasks/eps_server.c
  firmware/app/tasks/eps_server.h
  firmware/app/tasks/startup.c
  firmware/app/tasks/tasks.c
  firmware/config/config.h
  firmware/devices/eps/eps.c
  firmware/devices/eps/eps.h
  firmware/devices/obdh/obdh.c
  firmware/devices/obdh/obdh.h
  firmware/drivers/ina22x/ina22x.c
  firmware/drivers/isr/isr.c
  firmware/drivers/isr/isr.h
  firmware/drivers/spi_slave/spi_slave.c
  firmware/drivers/spi_slave/spi_slave.h
  firmware/drivers/sx127x/sx127x.c
  firmware/drivers/sx127x/sx127x.h
  firmware/drivers/uart/uart.c
  firmware/libs/containers/queue.c
  firmware/system/cmdpr.c
  firmware/system/cmdpr.h
  firmware/tests/devices/Makefile
  firmware/tests/devices/eps_test.c
  firmware/tests/devices/obdh_test.c
  firmware/tests/devices/run_all_tests.sh
  firmware/tests/drivers/Makefile
  firmware/tests/mockups/drivers/spi_slave_wrap.c
  firmware/tests/mockups/drivers/spi_slave_wrap.h
  firmware/version.h
Labels: documentation, firmware

#130 Merge pull request from antenna_bug_fix
  firmware/devices/antenna/antenna.c
  firmware/drivers/isis_antenna/isis_antenna_i2c.c
  firmware/drivers/tca4311a/tca4311a.h
  firmware/tests/drivers/isis_antenna_test.c
Labels: bug, antenna
